.coins{
    background-color:  #1c1f2b;;
}
.cards {
    border-radius: 15px;
    // border: 1px solid #ccc;
    border: none;
    outline: none;
    width: 250px;
    padding: 45px;
    height: 400px;
    margin: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px orange;
    // background-color: #f5f5f5;
    background-color: orange;
    margin-top: 30px;
    &:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      transform: scale(1.05);
      cursor: pointer;
      transition: 0.6s;
    }
  }

  .coinsList {
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
    
  }

  .coinsItem {
    display: flex;
    align-items: center;
    
  }

  h2{
    margin-top: 35px;
  }
  p{
    margin-top: 20px;
    font-size: 23px;
  font-weight: bold;
    
  }

  a{
    text-decoration: none;
  }