.home{
    background-image: url("../CryotoBack.jpg");
    background-size: cover;
    // margin-bottom: -125px;
    // height: 100vh;
}
.home > h1 {
    margin-left: 120px;
    padding-top: 45px;
    // margin-top: 150px;
    font-size: 60px;
    font-weight: bold;
    // margin-right: 140px;
    color: white;
}

ul {
    margin-left: 80px;
    margin-top: 40px;
    

    >li{
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    
}

.table {
    margin-left:40px;
    margin-top: 120px;
}
  
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    // margin-top: 100px;
  }
  
  th,
  td {
    text-align: left;
    padding: 22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    // margin-top: 100px;
  }
  
  th {
    background-color: transparent;
    color: white;
  }
  
 
  
//   tr:hover {
//     background-color: #ddd;
//   }